{% extends "layout.html" %}
{% block content %}

    <!-- Main Content -->
    <main>
        <!-- About Section -->
        <section class="section section-light page-section">
            <div class="container">
                <div class="section-header">
                    <h2 class="section-title">About Me</h2>
                    <div class="title-underline"></div>
                </div>

                <div class="about-content">
                    <div class="about-image">
                        <img src="https://plus.unsplash.com/premium_photo-1680404114169-e254afa55a16?q=80&w=464&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="About me">
                    </div>
                    <div class="about-text">
                        <h3>Full Stack Developer & Problem Solver</h3>
                        <p>
                            {{params['about']['about_1']}}
                        </p>
                        <p>
                            {{params['about']['about_2']}}
                        </p>
                        <p>
                            {{params['about']['about_3']}}
                    </div>
                </div>

                <div class="skills-section">
                    <h3 class="skills-title">Technical Skills</h3>
                    <div class="skills-grid">
                        <div class="skill-category">
                            <h4>Frontend</h4>
                            <div class="skill-item">
                                <div class="skill-header">
                                    <span>React</span>
                                    <span>10%</span>
                                </div>
                                <div class="skill-bar">
                                    <div class="skill-progress" style="width: 10%"></div>
                                </div>
                            </div>
                            <div class="skill-item">
                                <div class="skill-header">
                                    <span>HTML/CSS</span>
                                    <span>50%</span>
                                </div>
                                <div class="skill-bar">
                                    <div class="skill-progress" style="width: 50%"></div>
                                </div>
                            </div>
                        </div>

                        <div class="skill-category">
                            <h4>Backend</h4>
                            <div class="skill-item">
                                <div class="skill-header">
                                    <span>Python</span>
                                    <span>90%</span>
                                </div>
                                <div class="skill-bar">
                                    <div class="skill-progress" style="width: 80%"></div>
                                </div>
                            </div>
                            
                            <div class="skill-item">
                                <div class="skill-header">
                                    <span>REST APIs</span>
                                    <span>60%</span>
                                </div>
                                <div class="skill-bar">
                                    <div class="skill-progress" style="width: 60%"></div>
                                </div>
                            </div>
                        </div>

                        <div class="skill-category">
                            <h4>Other skills</h4>
                            <div class="skill-item">
                                <div class="skill-header">
                                    <span>Git</span>
                                    <span>80%</span>
                                </div>
                                <div class="skill-bar">
                                    <div class="skill-progress" style="width: 80%"></div>
                                </div>
                            </div>
                            <div class="skill-item">
                                <div class="skill-header">
                                    <span>Ai</span>
                                    <span>75%</span>
                                </div>
                                <div class="skill-bar">
                                    <div class="skill-progress" style="width: 75%"></div>
                                </div>
                            </div>
                            <div class="skill-item">
                                <div class="skill-header">
                                    <span>scripting</span>
                                    <span>85%</span>
                                </div>
                                <div class="skill-bar">
                                    <div class="skill-progress" style="width: 85%"></div>
                                </div>
                            </div>
                            <div class="skill-item">
                                <div class="skill-header">
                                    <span>automation</span>
                                    <span>70%</span>
                                </div>
                                <div class="skill-bar">
                                    <div class="skill-progress" style="width: 70%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}